h1 {
    margin-top: 15px;
    margin-bottom: 56px;
}

a {
    border: 2px solid #6495ED;
    border-radius: 20px;
    padding: 8px 30px;
    text-decoration: none;
    display: inline-block;
    color: #909090;
    margin-bottom: 56px;
}

a:hover, a:active {
    color: #6495ED;
}

.start-page-info {
    margin-bottom: 20px;
}

h4 {
    font-weight: bold;
}
