<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Add an office</title>
    </head>

    <body>
        <form th:action="@{/add-office}" th:object="${office}" method="post">
            <label>
                Name:
                <input type="text" th:field="*{officeName}">
                <p th:if="${#fields.hasErrors('officeName')}" th:errors="*{officeName}"></p>
            </label>
            <label>
                Opening Time:
                <input type="time" th:field="*{officeOpeningTime}">
            </label>
            <label>
                Closing Time:
                <input type="time" th:field="*{officeClosingTime}">
            </label>

            <input type="submit" name="action" value="Add office">
            <input type="submit" name="action" value="Cancel">
        </form>
    </body>

</html>
