<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Create an office</title>
    </head>

    <body>
        <form th:action="@{/add-office}" th:object="${office}" method="post">
            <p>Name: <input type="text" th:field="*{officeName}" /></p>
            <p>Opening Time: <input type="time" th:field="*{officeOpeningTime}"></p>
            <p>Closing Time: <input type="time" th:field="*{officeClosingTime}"></p>
            <input type="submit" value="Submit" />
        </form>
    </body>

</html>
