<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Add a room</title>
    </head>

    <body>
        <form th:action="@{/add-room}" th:object="${room}" method="post">
            <label>
                Name:
                <input type="text" th:field="*{roomName}">
                <p th:if="${#fields.hasErrors('roomName')}" th:errors="*{roomName}"></p>
            </label>

            <input type="submit" name="action" value="Add room">
            <input type="submit" name="action" value="Cancel">
        </form>
    </body>

</html>
