<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Reservation Time</title>
    </head>

    <body>
        <h1 th:text="${currentRoom.roomName}"></h1>

        <p th:text="${reservation.getReservationDate}"></p>

        <form th:action="@{/reserve-room}" th:object="${reservation}" method="post">
            <p>From: <input type="time" th:field="*{reservationTimeFrom}"></p>
            <p>To: <input type="time" th:field="*{reservationTimeTo}"></p>
            <input type="submit" value="Submit">
        </form>

        <div th:if="${reservations.isEmpty()}">
            <p>No reservations up to now.</p>
        </div>

        <div th:if="${!reservations.isEmpty()}">
            <table>
                <thead>
                    <tr>
                        <th scope="col">Reservations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="reservation : ${reservations}">
                        <td th:text="${reservation.reservationDate}"></td>
                        <td th:text="${reservation.reservationTimeFrom}"></td>
                        <td th:text="${reservation.reservationTimeTo}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>

</html>
