<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Reservation Date</title>
    </head>

    <body>
        <h1 th:text="${currentRoom.roomName}"></h1>

        <form th:action="@{/add-reservation-time}" th:object="${reservation}" method="get">
            <label>
                Date:
                <input type="date" th:field="*{reservationDate}">
            </label>

            <input type="submit" name="action" value="Select time">
            <input type="submit" name="action" value="Cancel">
        </form>
    </body>

</html>
