<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="/css/default.css">
        <link rel="stylesheet" href="/css/w3.css">
        <link rel="stylesheet" href="/css/index.css">

        <title>Welcome</title>
    </head>

    <body class="w3-content" style="max-width:650px">
        <div class="w3-center">
            <h1>Welcome to Office Creation And Reservation</h1>

            <a href="show-offices" role="button">Offices</a>
        </div>

        <h4>Application Description</h4>
        <p class="start-page-info">
            This application can be used by companies, which have one or more offices
            and need a reservation system for their rooms.
        </p>

        <h4>Getting Started</h4>
        <p class="start-page-info">
            After clicking on Offices, the application provides
            the functionality of creating multiple offices and
            to each office one or more rooms can be added. A room
            can then be reserved by selecting a date and choosing a period of time.
        </p>

        <h4>Additional Information</h4>
        <p>
            For this demonstration there is no differentiation between a person
            with the role of an administrator and others.
            This means everyone may add and delete an office or room.
        </p>
    </body>

</html>
