<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="/css/default.css">
        <link rel="stylesheet" href="/css/w3.css">
        <link rel="stylesheet" href="/css/show-rooms.css">

        <title th:text="${currentOffice.officeName}"></title>
    </head>

    <body class="w3-content" style="max-width:650px">
        <a class="link-show-offices" th:href="@{/show-offices}" role="button">Offices</a>

        <h2 class="w3-center" th:text="${currentOffice.officeName}"></h2>

        <a class="link-add-room" th:href="@{/add-room}" role="button">Add room</a>

        <div th:if="${dataRooms.isEmpty()}">
            <p>Add your first room!</p>
        </div>

        <div th:if="${!dataRooms.isEmpty()}">
            <table class="w3-table w3-bordered">
                <thead>
                    <tr>
                        <th scope="col">Room</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="dataRoom : ${dataRooms}">
                        <td th:text="${dataRoom.roomName}"></td>
                        <td class="w3-right-align">
                            <a class="link-room" th:href="@{/add-reservation-date/{id}(id=${dataRoom.id})}" role="button">Reserve room</a>
                            <a class="link-room" th:href="@{/delete-room/{id}(id=${dataRoom.id})}" role="button">Delete room</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>

</html>
