<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title th:text="${currentOffice.officeName}"></title>
    </head>

    <body>
        <h1 th:text="${currentOffice.officeName}"></h1>

        <p>Rooms <a th:href="@{/add-room}" role="button">+</a></p>

        <div th:if="${dataRooms.isEmpty()}">
            <p>Add your first room!</p>
        </div>

        <div th:if="${!dataRooms.isEmpty()}">
            <table>
                <thead>
                    <tr>
                        <th scope="col">Room</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="dataRoom : ${dataRooms}">
                        <td th:text="${dataRoom.roomName}"></td>
                        <td><a th:href="@{/add-reservation-date/{id}(id=${dataRoom.id})}" role="button">Reserve room</a></td>
                        <td><a th:href="@{/delete-room/{id}(id=${dataRoom.id})}" role="button">Delete room</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>

</html>
